<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin home</title>

  <div th:replace="fragments/include :: header"></div>

  <style>

  </style>
</head>


<body id="LoginForm">
  <div class="container">

    <div th:replace="fragments/include :: navbar"></div>

    <br>


    <div id="app">
      <h3 class="text-info">說明</h3>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
          <h3 class="text-info">
            更改密碼服務
          </h3>
          1. 更改自己密碼<br>
          2. 更改學生密碼<br>
          可以選擇一個多個學生, 更改密碼


          <span th:if="${isSyncLdap}">
            <h3 class="text-info">同步職員帳號</h3> - 將雲端校務系中職員帳號同步到Windows AD中(尚未在WinAD中建立者),密碼demo1234
          </span>


        </div>
      </div>


    </div>
  </div>

  <footer>

    <div th:replace="fragments/include :: footer"></div>


    <script th:inline="javascript">
      /*<![CDATA[*/

      const { createApp } = Vue;

      let config = {
        headers: {
          'Content-Type': 'application/json;CHARSET=UTF-8'
        }
      };


      createApp({
      }).mount('#app');

      /*]]>*/



    </script>
  </footer>

</body>

</html>