<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student</title>
  <div th:replace="fragments/include :: header"></div>
  <style>
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      transition: opacity 0.3s ease;
    }

    .modal-container {
      width: 400px;
      margin: auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
    }

    .modal-header h3 {
      margin-top: 0;
      color: #42b983;
    }

    .modal-body {
      margin: 20px 0;
    }

    .modal-default-button {
      float: right;
    }

    /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

    .modal-enter-from {
      opacity: 0;
    }

    .modal-leave-to {
      opacity: 0;
    }

    .modal-enter-from .modal-container,
    .modal-leave-to .modal-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  </style>

</head>


<body>
  <header> </header>

  <div class="container">
    <div th:replace="fragments/include :: navbar"></div>

    <br>
    <div id="app">
      已選擇: {{checkedUsernames.length}}
      <div class="row">
        <div class="col">

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text btn-outline-dark">選擇班級</span>
            </div>

            <div class="input-group-append ">
              <select class="form-select" v-model="selectedClassno" @change="updateShowAccounts">
                <option disabled value=""> </option>
                <option v-for="classno in classnos" v-bind:value="classno">
                  {{ classno }}
                </option>
              </select>
            </div>
          </div>



        </div>

        <div class="col">
          {{msg}}
        </div>

        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <input v-if="checkedUsernames.length > 0" @click="submit" type="submit" class="btn btn-primary"
                value="確定">
              <input v-else type="button" class="btn btn-secondary" value="確定" disabled>
            </div>
          </div>


        </div>

      </div>

      {{updateMsg}}


      <table class="table table-striped">
        <thead>
          <tr>

            <th scope="col"></th>


            <th scope="col">班級</th>
            <th scope="col">座號</th>
            <th scope="col">姓名</th>
            <span th:if="${isSyncLdap}">
              <th scope="col">WinAD帳號</th>
            </span>
            <th scope="col">校務系統帳號</th>

            </th>

          </tr>
        </thead>
        <tbody>
          <div v-if="showAccounts.length > 0">

            <tr v-for="account in showAccounts">

              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" :value="account.username" :id="account.username"
                    v-model="checkedUsernames">
                  <label class="form-check-label" for="flexCheckDefault">
                  </label>
                </div>
              </td>

              <td>
                {{account.classno}}
              </td>

              <td>
                {{account.seatno}}
              </td>

              <td>
                {{account.name}}
              </td>

              <td>
                {{account.username}}
              </td>

            </tr>
          </div>

          <!-- https://cumsum.wordpress.com/2020/08/08/vue3-property-xxx-was-accessed-during-render-but-is-not-defined-on-instance/ -->
          <!--           
              <span th:if="${isSyncLdap}">
                <th>{{account.adusername}}</th>
              </span>

          -->

        </tbody>
      </table>

      {{initPage}}


      <teleport to="body">
        <!-- use the modal component, pass in the prop -->
        <modal @updatepasswd="say($event)" :show="showModal">

          <template #header>
            <h3>輸入新密碼</h3>
          </template>

        </modal>
      </teleport>



    </div>


    <footer>
      <script type="module">
        /*<![CDATA[*/
        const { createApp } = Vue;
        import Modal from '../../js/updatePasswd.js'

        let config = {
          headers: {
            'Content-Type': 'application/json;CHARSET=UTF-8'
          }
        };

        let url = "/passwd/api/account/student";

        createApp({
          components: {
            Modal
          },
          data() {
            return {
              accounts: [{}],
              showAccounts: [{}],
              classnos: [],
              selectedClassno: "",
              msg: "正在努力加載中",
              status: 0,
              showModal: false,
              passwd: 'igogo',
              checkedUsernames: [],
              account: {},
              updateAccounts: [{}],
            }
          },
          created: function () {

            let vm = this;
            axios.get(url, config)
              .then(function (response) {
                vm.accounts = response.data;
                vm.selectedClassno = vm.accounts[0].classno;
                vm.status = 1;
              })
              .catch(function (error) {
                /* 失敗，發生錯誤，然後...*/
              });


          },
          computed: {
            initPage: function () {
              //初使頁面
              this.classnos = [];
              if (this.accounts.length > 0) {
                for (let i = 0; i < this.accounts.length; i++) {
                  let classno = this.accounts[i].classno;

                  if (!this.classnos.includes(classno)) {
                    this.classnos.push(classno);
                  }

                }

              }

              this.showAccounts = [];
              this.accounts.forEach(account => {
                if (this.selectedClassno == account.classno) {
                  this.showAccounts.push(account);
                }
              });

              this.msg = "";

            },
            updateMsg: function () {

              if (this.status === 0) {
                console.log("status = 0");
                let seconds = 1;
                let count = setInterval(() => {
                  switch (seconds) {
                    case 1:
                      this.msg = "正在努力加載中  .";
                      seconds += 1;

                      break;
                    case 2:
                      this.msg = "正在努力加載中  . .";
                      seconds += 1;

                      break;
                    case 3:
                      this.msg = "正在努力加載中  . . .";
                      seconds += 1;
                      break;
                    case 4:
                      this.msg = "正在努力加載中  . . . .";
                      seconds = 1;
                      break;
                    default:

                    // code block
                  }

                  // console.log(this.status);
                  if (this.status === 1) {
                    clearInterval(count);
                    this.msg = "";
                    // this.msg = this.selectedClassno + "年,共 " + this.showAccounts.length + "筆";
                  }

                  // if (this.status === 99) {
                  //   clearInterval(count);
                  //   this.msg = this.selectedClassno + "年,共 " + this.showAccounts.length + "筆建立成功";
                  // }


                }, 500);

              }


            },
          },
          methods: {
            say: function (value) {
              this.showModal = false;

              let vm = this;
              let url = "/passwd/username/";
              let updateAccounts = [];

              if (value.length == 0) {
                console.log("noghing to do");

              } else {
                //update accounts password
                this.checkedUsernames.forEach(username => {
                  let account = {};
                  account.account = username;
                  account.password = value;
                  updateAccounts.push(account);
                });

                axios.put(url, JSON.stringify(updateAccounts), config).then((response) => {
                  // success callback
                  console.log(response.data);

                  if (response.data.total_items === 1) {
                    //帳號建立成功
                    vm.msg = "更新成功";
                    vm.enable = false;
                    vm.status = 1;

                  } else {
                    vm.msg = "更新密碼失敗";
                  }

                }, (response) => {
                  // error callback
                });


              }
            },
            updateShowAccounts: function () {
              // console.log(Date.now());
              // console.log(this.selectedClassno);
              this.showAccounts = [];
              this.accounts.forEach(account => {
                if (account.username.split("-")[0] === this.selectedClassno) {
                  this.showAccounts.push(account)
                }
              });
              // console.log(this.showAccounts);
            },
            submit: function () {
              this.showModal = true;

              // this.status = 0;
              // let vm = this;
              // //let url = "/passwd/api/account/student";

              // console.log("ok,submit,post target url:" + url);


              // axios.put(url, this.showAccounts, config).then((response) => {
              //   // success callback
              //   console.log(response.data.length);

              //   //帳號建立成功

              //   vm.status = 99;

              //   vm.showModal = true;



              //     }, (response) => {
              //   // error callback
              // });

            },
          }
        }).mount('#app');

        /*]]>*/
      </script>
    </footer>

</body>

</html>